.article {
    margin: auto;
    width: 90vw;
}

.article p {
    margin: 1rem 0;
    line-height: 1.4rem;
}

.header small {
    display: block;
    position: relative;
    left: calc(100vw - 60vw - 5vw);
    width: 60vw;
}

.pill {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 3px;
}

.artwork-list {
    &__item {
        position: relative;
        margin: 1.5rem 0;
    }

    &__item:nth-child(even) {
        text-align: right;
    }

    &__item:nth-child(even)::before {
        content: ' ';
        border: 5px solid #000;
        border-top: 0;
        border-right: 0;
        position: absolute;
        top: -30%;
        left: 0;
        height: 80%;
        width: 45%;
        border-bottom-left-radius: 10px;
    }

    &__item:nth-child(even)::after {
        content: ' ';
        border: 5px solid #000;
        transform: rotate(45deg);
        position: absolute;
        left: 38%; /* use proper measures */
        top: 33%; /* use proper measures */
        width: 20px;
        height: 20px;
        border-left: 0;
        border-bottom: 0;

    }

    &__item:nth-child(odd)::before {
        content: ' ';
        border: 5px solid #000;
        border-top: 0;
        border-left: 0;
        position: absolute;
        top: -30%;
        right: 0;
        height: 100%;
        width: 7%;
        border-bottom-right-radius: 10px;
    }

    &__item:nth-child(odd)::after {
        content: ' ';
        border: 5px solid #000;
        transform: rotate(45deg);
        position: absolute;
        right: 1%; /* use proper measures */
        top: 58%; /* use proper measures */
        width: 20px;
        height: 20px;
        border-top: 0;
        border-right: 0;
    }

    &__item:nth-child(1)::before, &__item:nth-child(1)::after {
        display: none;
    }
}

.artwork-item {
    display: inline-block;
    text-align: initial;

    &__author {
        display: block;
        margin: 10px 0;
    }

    .pill {
        margin-left: 12px;
    }
}

.artwork-item::odd {
    text-align: right;
}
