@import '_reset.scss';
@import '_colors.scss';
@import '_fonts.scss';

@import 'container.scss';

.header {
    padding: 10px;
    border-bottom: 2px solid #000;
    
    &__logo {
        width: 100%;
        height: auto;
    }

    &__marquee {
        background-color: #000;
        color: #fff;
        border-radius: 10px;
        padding: 5px;
        align-self: center;
        margin-left: 35%;
        font-size: .7rem;
    }
}

.footer {
    background: $background-color-inverted;
    text-align: center;
    padding: 1px 0;

    &__copyright {
        display: inline-block;
        font-size: .7rem;
        color: $primary-text-color-inverted;
        margin: 10px 0;
    }

    &__links {
        padding-bottom: 15px;
    }

    &__link {
        display: inline-block;
        margin: 0 10px;

        a {
            font-size: .7rem;
            color: $primary-text-color-inverted;
            text-decoration: none;
        }
    }
}
